table {
    width: 100%;
  }

th {
    width: 20%;
}

td {
    width: 20%;
}

.pointer{
    cursor: pointer;
}
.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .chart-container {
    display: block;
    position: relative;
  }
  .w100 {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: block;
  }
