<div fxLayout="row wrap">
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh">

            <mat-card-content>
                <mat-card-title>Detalle de Wearable </mat-card-title>
                <table>
                    <thead>
                        <th></th>
                        <th>Fitbit Tracker Inspire 2</th>
                    </thead>
                    <tbody>

                        <td>
                            Marca: Garmin<br />
                            Línea: Vivosport<br />
                            Modelo: Vivosport<br />
                            Versión: Vivosport<br />
                            Con GPS: Sí <br />
                            Con Bluetooth: Sí <br />
                            Reloj desperatador: Sí <br />
                            Incluye baterías: Sí<br />
                            Tamaño de la pantalla: 1 Pulgadas<br />
                            Tipo de pantalla: TFT LCD<br />
                            Altura: 7 centimetros<br />
                            Longitud: 7 centimetros<br />
                            Peso: 0.14 Kilogramos<br />
                            Ancho: 14 centimetros<br />
                            Descripción de pila: Lithium-Ion(Li-Ion)<br />

                        </td>
                        <td>
                            <br />
                            <img mat-card-image src="assets/images/big/prueba1.jpg"
                                style="max-height: 300px;width: 200px;align-items: flex-end;" alt="foto de wearable">
                        </td>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>