<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Información Básica </mat-card-title>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form">
                    <div fxLayout="row wrap">
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Estatura (m)" type="number" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Peso (kg)" type="number" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="IMC" type="number">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Circunferencia de cintura (cm)" type="number"
                                    autocomplete="off">
                            </mat-form-field>
                        </div>

                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Tipo de sangre">
                                    <mat-option value="option">O -</mat-option>
                                    <mat-option value="option">O +</mat-option>
                                    <mat-option value="option">A -</mat-option>
                                    <mat-option value="option">A +</mat-option>
                                    <mat-option value="option">B -</mat-option>
                                    <mat-option value="option">B +</mat-option>
                                    <mat-option value="option">AB -</mat-option>
                                    <mat-option value="option">AB +</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>



                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <button mat-raised-button color="primary">Guardar datos</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>