<mat-card>
    <mat-card-content>
        <mat-card-title>Selecciona los antecedentes de riesgo en tu familia directa</mat-card-title><br />
        <div class="responsive-table">
            <table>

                <thead>
                    <tr>
                        <th>Enfermedad<mat-icon>health_and_safety</mat-icon>
                        </th>
                        <th>Madre <mat-icon>pregnant_woman</mat-icon>
                        </th>
                        <th>Padre<mat-icon>emoji_people</mat-icon>
                        </th>
                        <th>Ambos <mat-icon>wc</mat-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hipertensión</td>
                        <td> <input type="radio" name="p1" value="M"></td>
                        <td><input type="radio" name="p1" value="L"></td>
                        <td><input type="radio" name="p1" value="x"></td>
                    </tr>
                    <tr>
                        <td>Diabetes</td>
                        <td><input type="radio" name="p2" value="M"></td>
                        <td><input type="radio" name="p2" value="L"></td>
                        <td><input type="radio" name="p2" value="x"></td>
                    </tr>
                    <tr>
                        <td>Arritmias</td>
                        <td><input type="radio" name="p3" value="M"></td>
                        <td><input type="radio" name="p3" value="L"></td>
                        <td><input type="radio" name="p3" value="x"></td>
                    </tr>
                    <tr>
                        <td>Cardiopatías</td>
                        <td><input type="radio" name="p4" value="M"></td>
                        <td><input type="radio" name="p4" value="L"></td>
                        <td><input type="radio" name="p4" value="x"></td>
                    </tr>
                    <tr>
                        <td>Insuficiencia cardíaca</td>
                        <td><input type="radio" name="p5" value="M"></td>
                        <td><input type="radio" name="p5" value="L"></td>
                        <td><input type="radio" name="p5" value="x"></td>
                    </tr>
                </tbody>

            </table>
        </div>
        <br />
        <div class="example-section">
            <button mat-raised-button color="primary">Guardar datos</button>
        </div>
    </mat-card-content>
</mat-card>