<div fxLayout="row wrap">
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh">

            <mat-card-content>
                <mat-card-title>Variables</mat-card-title>
                <table>
                    <thead>
                        <th></th>
                        <th>Fitbit Tracker Inspire 2</th>
                    </thead>
                    <tbody>

                        <td>
                            Frecuencia cardíaca<br />
                            Presión arterial<br />
                            Oxigenación en la sangre<br />
                            Temperatura corporal<br />
                            Total de pasos caminados<br />
                            Nivel de estrés<br />
                        </td>
                        <td>
                            <br />
                            <img mat-card-image src="assets/images/big/prueba1.jpg"
                                style="max-height: 250px;width: 150px;align-items: center;" alt="foto de wearable">
                            <br />
                        </td>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>