<div class="login-register" style="background-image:url(assets/images/background/profile.png);">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="text-right">
                        <img alt="homepage" src="assets/images/logo-premytecd.png">

                        <div class="text-center">

                            <h4 class="m-t-0">Iniciar sesión</h4>
                        </div>
                    </div>

                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Usuario" [formControl]="form.controls['uname']">
                            </mat-form-field>
                            <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched"
                                class="text-danger support-text">Usuario requerido.</small>
                            <small *ngIf="(['uname'].dirty || ['uname'].touched) && ['uname'].errors.pattern"
                                class="alert-danger">
                                El usuario no es válido
                            </small>


                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Contraseña"
                                    [formControl]="form.controls['password']">
                            </mat-form-field>
                            <small
                                *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                                class="text-danger support-text">Contraseña requerida.</small>
                        </div>
                        <!-- col half-->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                            <mat-checkbox color="warn">Recuérdame</mat-checkbox>
                        </div>
                        <!-- col half-->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                            <a [routerLink]="['/authentication/forgot']" class="link">¿Olvidaste tu contraseña?</a>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="role">
                            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20"
                                type="submit" [disabled]="!form.valid">Ingresar</button>

                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                            <span>¿No tienes cuenta?
                                <a [routerLink]="['/authentication/register']" class="text-info link">Regístrate</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>